[run]
branch = True
source = src
omit =
    src/models/*
    src/*/__init__.py
    src/mock_servers/*
    src/monitoring/logger.py
    src/pipeline/main.py
    */_version.py
    */__main__.py

[report]
show_missing = True
skip_covered = False
precision = 1

# Hide trivial lines from "missing"
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    raise NotImplementedError
    except (KeyboardInterrupt, SystemExit):
